/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   QUICK CSS REMINDERS:  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  referencing TAG TYPES:            tag                    */
/*  referencing CLASSES:              .class                 */
/*  referencing ID NAMES:             #id                    */
/*  referencing PSUEDO_CLASSES:       :psuedo-class          */
/*  referencing PSUEDO_ELEMENTS:      ::psuedo-element       */

/*  GROUP REFERENCES: add comma 
EXAMPLES:  
(tag1, tag2, ...);  (.class1, .class2, ...);  (#id1, #id2, ...);  
(tag, .class, #id, ...);  (tag:psuedo-class, .class:psuedo-class, #id:psuedo-class, ...);
(tag::psuedo-element, .class::psuedo-element, #id::psuedo-element, ...);  etc.
*/



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   HIDDEN CLASS   */
.hidden {
    display: none;
  }



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   BODY   */
body {
    display: grid;
    padding-bottom: 15%;
    background-color: black;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   FLIXTER TITLE ~ INSIDE CONTENT DIV */
#Flixter {
    padding-bottom: 2.5%;

    color: #fce9cc;
    font-size: 9.5vw;
    letter-spacing: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    text-shadow: 7px 2px 5px #fdb62f, 14px 4px 8px #de0418;
    
    border-bottom: 6.5px double #fdb62f;
}

#popcorn {
    margin-left: -2%;
    transform: skew(-12deg);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   DIV CONTAINING FORM TAG + DISPLAY TEXTS  */ 
#content-div {
    position: absolute;

    left: 50%;
    margin-left: -50%;
    top: 0;
    padding-bottom: -5%;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(#3b0606, black);

    border-top: 3.5px solid #fdb62f;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* DISPLAY TEXTS ~ INSIDE DIV/OUTSIDE FORM TAG */
#H1-nowPlaying, #H1-searchResults {
    padding-top: 2.8%;
    padding-left: 18%;
    padding-bottom: 3%;

    color: #fce9cc;
    font-size: 4.5vw;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 2px 5px #de0418, 6px 5px 8px #fdb62f;

    border-bottom: 1px solid #fce9cc;
    border-bottom-left-radius: 27%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   FORM TAG CONTAINING ALL SEARCH ELEMENTS   */
form {
    padding-right: 4%;

    -webkit-perspective: 1000;

    text-align: right;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   SEARCH/CLOSE BUTTONS   */
#search-btn {
    z-index: -0.5;

    position: relative;
    
    margin-left: -1%;
    padding: 1%;

    width: auto;

    cursor: pointer;

    color: #fce9cc;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-color: black;

    border: 1.5px solid #fce9cc;
    border-radius: 3px;

    box-shadow: 0 0.5px black, 0 0 5px #fce9cc;
}

#close-search-btn {
    z-index: -0.5;
    position: relative;
    left: 46px;

    padding: 1%;
    width: 2.9%;

    cursor: pointer;

    color: #fce9cc;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-color: black;

    border: none;
    border-radius: 3px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   PSUEDO-CLASSES   */
#search-btn:hover, #close-search-btn:hover {
    color: #fdb62f;

    background-color: #3b0606;

    border: 1.5px solid #fdb62f;

    box-shadow: 0 2.5px 6px #fdb62f;

    -webkit-perspective: 1000;

    transition: all 0.2s ease-in-out;
    transform: translateZ(8px);
}

#search-btn:active, #close-search-btn:active {
    transform: translateY(4px);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   SEARCH BAR   */
#search-input {
    margin-right: 0.5%;
    margin-left: -0.5%;

    padding: 1%;
    width: 32%;    

    color: #fce9cc;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-color: black;

    border: 1.5px solid #fce9cc;
    border-right: black;
    border-left: black;
    border-radius: 3px;

    box-shadow: 0 0.5px black, 0 0 5px #fce9cc;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   PSUEDO-CLASSES   */
#search-input:hover, #search-input:focus {
    border: 1.5px solid #fdb62f;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   PLACEHOLDER TEXT   */
::placeholder {
    color: #fce9cc;
    font-size: 30px;

    opacity: 0.5;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   EMPTY DIV CONTAINING MOVIES   */
#movies-grid {
    display: grid;

    grid-template-columns: repeat(auto-fill, 580px);
    column-gap: 28px;
    grid-auto-rows: 1255px;
    justify-content: center;

    padding-top: 50%;
    
    width: 100%;

    -webkit-perspective: 1000;

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 3px 5px 8px #fdb62f;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   MOVIE CARDS   */
.movie-cards {
    display: flex;
    flex-direction: column;

    margin: 18px;

    background: black;

    border-top: 1px solid #fce9cc;
    border-bottom: 1px solid #fce9cc;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   PSUEDO-CLASSES   */
.movie-cards:hover {
    transform: translateZ(15px);
    transition: all 0.5s ease-in-out;

    box-shadow: 0 10.5px 6px #fdb62f;    
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   MOVIE INFO ~ INSIDE CARD DIV   */
#movie-info {
    display: flex;
    flex-direction: column;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   MOVIE INFO CLASSES   */

.movie-title {
    display: flex;
    flex-direction: column;

    margin-top: 50px;

    color: #fdb62f;
    font-size: 2.5vw;

    border-bottom: 1.5px solid;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;

}

.movie-poster {
    max-width: auto;
    height: auto;
}
/*   API DATA TITLE   */
.movie-release-date, .movie-votes {
    display: flex;
    flex-direction: column;

    color: #fce9cc;
    font-size: 1.5vw;
}
/*   MOVIE DATA FROM API   */
p3 {
    color:#de0418;
    font-size: 2vw;
    text-shadow: 3px 5px 8px red;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  MORE MOVIES BUTTON   */
#load-more-movies-btn {
    z-index: 100;
    width: 150%;

    padding: 10%;
    margin-top: 120%;

    color: #fce9cc;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-color: black;

    border: 1.5px solid #fce9cc;
    border-radius: 3px;

    box-shadow: 0 0.5px black, 0 0 5px #fce9cc;
}

#more-btn-container {
    margin: auto;
    margin-left: 42%;

    -webkit-perspective: 1000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   PSUEDO-CLASSES   */
#load-more-movies-btn:hover {
    color: #fdb62f;

    background-color: #3b0606;

    border: 1.5px solid #fdb62f;

    box-shadow: 0 5.5px 6px #fdb62f;

    transform: translateZ(15px);
    transition: all 0.5s ease-in-out;
}

#load-more-movies-btn:active {
    transform: translateY(10px);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*   TMDB LOGO   */
#TMDB {
    position: fixed;
    bottom: 0;
    left: 5%;

    cursor: pointer;

    background: transparent;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#back-to-top {
    position: fixed;
    bottom: 15%;
    left: 85%;

    margin: 1%;
    padding: 0.5%;
    padding-top: 1.5%;

    width: 6%;

    cursor: pointer;

    color: #fdb62f;
    font-size: 3.5vw;
    text-align: center;

    background-color: black;
    opacity: 90%;

    border: 0.5px solid #fdb62f;
    border-radius: 50%;
}

#back-to-top:hover {
    box-shadow: 0 0 20px #fce9cc;

    transform: translateZ(15px);
    transition: all 0.5s ease-in-out;
}